:root {
  --clr-neon: rgb(255, 0, 0);
  --clr-bg: rgb(255, 255, 255);
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px blue,
      0 0 19px #fff,
      0 0 40px red,
      0 0 80px red,
      0 0 90px red,
      0 0 100px red,
      0 0 150px red;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

/* @keyframes pulsate {
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px blue,
      0 0 80px blue,
      0 0 90px blue,
      0 0 100px blue,
      0 0 150px blue;
  }
  0% {
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px blue,
      0 0 73px blue,
      0 0 80px blue,
      0 0 94px blue,
      0 0 140px blue;
  }
} */

html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url();
  background-size: auto 100%;
}

@font-face {
  font-family: neon;
  src: url(/src/Assets/hello-denver-display/hellodenverdisplaybold_v1.6.ttf);
}

.neon-wrapper {
  /* animation: pulsate 1.5s infinite alternate; */
  box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #e97272, 
  0 0   4vw  0.4vw #e50b0b,
  inset 0 0 1.5vw  0.4vw #e50b0b,
  inset 0 0 0.4vw  0.2vw #e97272,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
}

.neon-text {
  font-family:neon;
  font-size: 8rem;
  color: #ffd8d8;
  padding: 0 3.5rem 0 3.5rem;
  text-shadow: 
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
  .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
  .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
  .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757, 
  .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b, 
  .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b,
  .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;
}

.neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 15px 10px 15px;
  border-bottom: 2px solid rgb(212, 212, 212);
}

.navLink {
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
}

h1 {
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
    text-align: center;
    font-size: 4.2rem;
    font-family: 'opensans-regular', sans-serif;
    color: #ffffcc;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px blue, 
    0 0 20px red, 
    0 0 30px red, 
    0 0 40px red, 
    0 0 55px red, 
    0 0 70px red;
}

h3, p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  /* animation: pulsate 2.5s infinite alternate;  */
  /* animation: pulsate 0.11s ease-in-out infinite alternate;  */
    text-align: center;
    font-size: 2vw;
    font-family: 'opensans-regular', sans-serif;
    color: #ffffcc;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff, 
    0 0 20px blue, 
    0 0 30px blue, 
    0 0 40px blue, 
    0 0 55px blue, 
    0 0 70px blue;
}

.background-img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  position: fixed;
  overflow: scroll;
  /* background-image: url("/static/images/tree_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  /* Matt is the sweetest friend ^^^ */
}

#myname {
  padding-bottom: 40px;
}

.about-info {
  padding-bottom: 30%;
}

#myframe {
  margin-top: 30%;
  position: relative;
}

#frame {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 60px;
  top: 0;
  left: 0;
  max-width: 60%;
}

#nateimg {
  position: absolute;
  width: 25%;
  left: 40%;
  top: 10%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.contact-links {
  align-self: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 45%;
  margin-left: 45%;
  padding-top: 15%;
  height: 10%;
  width: 15%;
}

#gitIcon, #mailIcon, #linkedinIcon {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 50%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background-color: #e50b0b;
    color: #fff;
    opacity: .8;
  font-size: 2vw;
    font-family: 'opensans-regular', sans-serif;
    color: #ffffcc;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff, 
    0 0 20px blue, 
    0 0 30px blue, 
    0 0 40px blue, 
    0 0 55px blue, 
    0 0 70px blue;
}

.about-info {
  margin-top: 30%;
}

#projectstitle {
  margin-top: 5%;
}

.projects-card {
  align-items: center;
  max-height: 80%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  margin: 0 auto;
  align-content: center;
  text-align: center;
}

.card {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 200px;
  max-height: 400px;
}

#skillstitle {
  margin-top: 30%;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-right: 20%;
  padding-left: 20%;
  text-align: center;
  align-content: center;
}

#languages {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  max-height: 80%;
  font-size: 2vw;
  padding-bottom: 10%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}