html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow: scroll;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 15px 10px 15px;
  border-bottom: 2px solid rgb(212, 212, 212);
}

.navLink {
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Blinker', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
}

h1 {
  /* text-shadow: 2px 2px purple; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'opensans-regular', sans-serif;
    color: #ffffcc;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff, 
    0 0 20px red, 
    0 0 30px red, 
    0 0 40px red, 
    0 0 55px red, 
    0 0 70px red;
}

h3, p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'opensans-regular', sans-serif;
    color: #ffffcc;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff, 
    0 0 20px blue, 
    0 0 30px blue, 
    0 0 40px blue, 
    0 0 55px blue, 
    0 0 70px blue;
}

.background-img {
  height: 150%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.tweets {
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  align-content: center;
  text-align: center;
}

.contact {
  margin-top: 5%;
}

/* .contact-right {
  text-align: right;
  justify-content: right;
  margin-right: 5%;
  margin-left: 40%;
  margin-bottom: ;
  z-index: 1;
} */

.project-card {
  align-items: center;
  max-height: 80%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  margin: 0 auto;
  align-content: center;
  text-align: center;
}

.card {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 200px;
  max-height: 400px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
